


<body>
 <div class="top">
   <div class="tp">
     <div class="topler">
	   <div class="tel"><img src="http://ymamy.ru/images/tel.gif" alt="" /></div>
       <div class="logo"><a href="/"><img src="http://ymamy.ru/images/logo.gif" alt="1" border="0" alt="Доставка по Москве и Московской области" /></a></div>
     </div>
	 <div class="cl"></div>


  <div class="gallery">

    <% @items.each do |item| %>
       <div class="bl">
       <%= link_to image_tag(item.photo, :size => "220x241"), item %>
       <b><%= item.title %></b>
       <i><%= item.price %></i>
       </div>
     <% end %>


     <div class="footer2">
	   <div class="copy">
	     <div class="block">
		   <h2>Доставка цветов по Москве</h2>
		   <p>Мы осуществляем доставку только по Москве и Московской области.
Стоимость доставки по Москве составляет 250 руб. Доставка по Московской области
оплачивается в зависимости от удаленности от МКАД, стоимость уточняйте у оператора.</p>
		 </div>


		 <div class="block">
		   <h2>Способ оплаты</h2>
		   <p>Оплата осуществляется как наличным, так и безналичным способом. Если вы хотите сделать сюрприз, то вам нужно заранее подъехать <a href="http://maps.google.ru/maps?f=q&source=s_q&hl=ru&geocode=&q=121170,+%D0%90%D0%9E+%D0%97%D0%B0%D0%BF%D0%B0%D0%B4%D0%BD%D1%8B%D0%B9,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+%D0%9A%D1%83%D1%82%D1%83%D0%B7%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80%D0%BE%D1%81%D0%BF.,+36+%D1%81%D1%82%D1%80+42&sll=55.73959,37.526035&sspn=0.006632,0.021136&ie=UTF8&ll=55.741849,37.527044&spn=0.006631,0.021136&z=16" target="_blank">к нам</a> или встретится с нашим курьрером и передать деньги. Также возможно отправить деньги через Яндекс.Деньги и с помощью банковского перевода.</p>
		 </div>

		 <div class="block">
		   <h2>О фирме</h2>
		   <p>Компания YMAMY любит музыку. А еще больше мы любим цветы, поэтому мы решили дарить композиции, но не музыкальные, а состоящие из настоящих цветов, на нотках которых можно играть свою удивительную мелодию.</p>
		 </div>
</div>
<div class="adr"><p>
ООО "Проект Алеф"
<br>Москва, Кутузовский пр-т, д. 36
<br>Тел.: +7 (495) 506-06-01
<br>ОГРН 1097746080233
</div>


 <div class="kak">
	     <i>кактус</i>
		 <b>Ни для кого не секрет, что каждый цветок, того или иного цвета, имеет свой скрытый смысл. Вот и кактус, который гордо красуется внизу страницы имеет свое значение.</b>
	   </div>
     </div>
   </div>
 </div>
</body>
</html>

